{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="card text-center card text-white bg-dark mb-3"  id="cardOfPost">
            <div class="card-header">
                {{ article.post_title }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ article.post_chapo }}</h5>
                <p class="card-text">{{ article.post_content }}</p>
            </div>
            <div class="card-footer text-muted">
                {{article.post_updateDate |  date("d/m/y") }} cette article a été crée par {{ article.user_last_name }}
            </div>
        </div>
       {% if session.user %}
        <div class="row" >
                <div class="col">
                    <form method="POST">
                            <div class="col" id="input">
                                <input type="text" name="comment" id="comment" class="form-control" placeholder="dit moi ce que tu penses">
                                {% if errors.comment.required %}
                                    <div class='alert alert-danger'>
                                        <ul>
                                            {% if errors.comment.required %}
                                                <li>Le champ ne doit pas etre vide.</li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        <div class="offset-md-5">
                            <button type="submit" class="btn btn btn-outline-secondary">Submit</button>
                        </div>
                    </form>
            </div>
        </div>
        {% endif %}
        {% for comment in comments %}
            <div class="commentSection">
                <p style="font-weight: bolder">Crée par {{ comment.user_last_name }} le
                    {{ comment.date_validation |  date("d/m/y")}}</p>
            <div class="row">
                <div class="col">
                    <div class="card" id="cardComment">
                        <div class="card-body">
                            {{ comment.content }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>

{% endblock %}
